*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vw ;
    flex-direction: column;
    background-color: #e0eafc;
    background: -webkit-linear-gradient(to right,#cfdef3,#e0eafc);
    background: linear-gradient(to right,#cfdef3,#e0eafc);

}

form {
    margin: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="file"] {
    padding: 5px;
    font-size: 14px;
}
.bi-card-image{
    width: 100vw;
    height: 100vh;  
    color: aqua;
}