body {
    margin: 0;
    padding: 0;
    background: #FDFCDC;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20rem;
    padding: 100px;
    box-sizing: border-box;
}

.daftar-container {
    position: relative;
    width: 435px;
    height: 500px;
}



.kotak-kuning {
    background-color: #FFD500;
    z-index: 1;
    transform: translate(-20px, 20px);
    width: 30vw;
    height: 78vh;
    border-radius: 10px;
    position: absolute;

}

.kotak-putih {
    background-color: #FFFFFF;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 28vw;
    height: 68vh;
    border-radius: 10px;
    position: absolute;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form p {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-daftar {
    background-color: #34C759;
    width: 26vw;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.btn-daftar:hover {
    background-color: #28a745;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width:  40vw;
    height: 90vh;
    
}

.garis{
    width: 3px;
    height: 50vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.garis{
    width: 40px;
    height: 90vh;
    border-radius: 20px;
    background-color: yellow;
    transform: translateX(200px);
}